.mi-elemento {
    width: 200px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}